<header class="main-header">
    <nav class="navbar">
        <img src="../images/node-40.png" alt="Logo" class="logo">
        
        <ul class="nav-links">
            <li> <a href="/Informacion" class="btn-conoce-mas">¿Quiénes somos?</a></li>
            <li><a href="/Inscripcion" class="btn-inscribirse">Inscripciones</a></li>
            <li class="contact-phone">📞 (809) 921-1372</li>
        </ul>
    </nav>
</header>