<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
    <link rel="stylesheet" href="/css/Begin.css">
</head>
<body>

    <header class="main-header">
    <nav class="navbar">
        <img src="/images/node-40.png" alt="Logo" class="logo">
        
        <ul class="nav-links">
           <li> <a href="Panel.html" class="Panel">Panel de inscritos y pendientes</a></li>
           <li> <a href="Venta.html" class="Venta">Venta</a></li>
        </ul>
    </nav>
</header>


        
<main class="contenido">
</main>

</div>

</body>
</html>

