
    <footer class="main-footer">
        <h3>Acreditaciones y Membresías</h3>
        <p>Acreditado en los tres niveles (inicial, básico y medio), tandas matutina y vespertina, mediante resolución no. 4856 por el Ministerio de Educación de la República Dominicana (MINERD).</p>
        <img src="../images/image-11-50.png" alt="Acreditaciones" class="accreditation-logos">
    </footer>

</body>
</html>

